button {
  height: 44px;
  min-width: 175px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: var(--border-radius);
  border-color: var(--color-secondary);
}

button:hover {
  background-color: var(--swatch-green-dark);
}

.button-secondary {
  background: none;
  color: var(--color-secondary);
  border: none;
}
