footer {
  background-color: var(--swatch-black);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--color-primary);
}

footer section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact {
  justify-self: center;
}

.contact li {
  display: flex;
}

.contact-icon,
.brand-icon {
  padding: 4px;
  color: var(--color-secondary);
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-media ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.social-media li {
  padding: 4px;
  display: block;
}
