nav img {
  width: 53px;
  height: fit-content;
  padding-left: var(--space-ultra);
  padding-top: var(--space-small);
}

/* nav {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--swatch-grey);
  padding: 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  flex-grow: 2;
  align-items: baseline;
} */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  margin: 0;
  padding-right: var(--space-ultra);
  display: flex;
}

nav li {
  padding: var(--space-small);
  display: block;
}
