nav img {
  width: 53px;
  height: fit-content;
  padding-left: var(--space-small);
  padding-top: var(--space-small);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  margin: 0;
  padding-right: var(--space-medium);
  display: flex;
}

nav li {
  padding: 4px;
  display: block;
}

@media (min-width: 750px) {
  nav img {
    padding-left: var(--space-ultra);
    width: 80px;
  }
  nav ul {
    padding-right: var(--space-ultra);
  }
  nav li {
    padding: var(--space-small);
  }
}
