nav img {
  width: 53px;
}

nav .text-link {
  color: var(--color-text);
}

nav .text-link:hover {
  color: var(--color-secondary);
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--swatch-grey);
  padding: var(--space-small);
}

nav ul {
  display: flex;
  justify-content: space-around;
  flex-grow: 2;
  align-items: baseline;
}
