.product-screen {
  text-align: center;
}

.product-screen h2 {
  color: var(--swatch-green-dark);
}

.product-screen img {
  margin-bottom: var(--space-medium);
  object-fit: cover;
  height: 260px;
}

.product-screen p {
  margin-bottom: var(--space-medium);
}

@media (min-width: 750px) {
  .product-screen img {
    height: 400px;
  }
}
