h1,
h2,
h3,
p {
  margin-top: 0;
}

h1 {
  font-size: 34px;
  line-height: 1.5;
}

h2,
caption {
  font-size: 22px;
  line-height: 1.5;
}

h3 {
  font-size: 19px;
}

p,
li,
table {
  font-size: 12px;
  line-height: 1.6;
}

small {
  font-size: 12px;
  line-height: 1.6;
}

label,
button,
nav li {
  font-size: 14px;
  line-height: 1.6;
  font-weight: bold;
}

.text-link {
  text-decoration: none;
}
